<launch>
  <arg name="port" default="$(optenv FLO_FACE_DEVICE /dev/flo_face)"/>
  <node pkg="flo_face" type="face_com_manager.py" name="face_com"
        output="screen">
    <param name="port" value="$(arg port)"/>
    <param name="face_duration" value="3.0"/>
    <param name="brightness"   value="12"/>
  </node>
</launch>
